
ACTION=="add", BUS=="ide", KERNEL=="hd[a-z]", IMPORT="/lib/udev/cdrom_id --export $tempnode"
ACTION=="add", BUS=="scsi", KERNEL=="sr[0-9]*", IMPORT="/lib/udev/cdrom_id --export $tempnode"
ACTION=="add", BUS=="scsi", KERNEL=="scd[a-z]", IMPORT="/lib/udev/cdrom_id --export $tempnode"

ENV{ID_CDROM}=="?*", SYMLINK+="cdrom-%b"
ENV{ID_CDROM_CD_RW}=="?*", SYMLINK+="cdrw-%b"

ENV{ID_CDROM_DVD}=="?*", SYMLINK+="dvd-%b"
ENV{ID_CDROM_DVD_R}=="?*", SYMLINK+="dvd-%b"

ACTION=="add", BUS=="ide", KERNEL=="hd[a-z]", SYSFS{removable}=="1", SYSFS{media}=="cdrom*", RUN+="/lib/udev/cdsymlinks"
ACTION=="add", BUS=="scsi", KERNEL=="sr[0-9]*", SYSFS{type}=="5", RUN+="/lib/udev/cdsymlinks"
ACTION=="add", BUS=="scsi", KERNEL=="sg[0-9]*", SYSFS{type}=="5", RUN+="/lib/udev/cdsymlinks"

ACTION=="remove", BUS=="block", KERNEL=="hd[a-z]", RUN+="/lib/udev/cdsymlinks"
ACTION=="remove", BUS=="block", KERNEL=="sr[0-9]*", RUN+="/lib/udev/cdsymlinks"
ACTION=="remove", BUS=="block", KERNEL=="sg[0-9]*", RUN+="/lib/udev/cdsymlinks"
