[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Lmms
GenericName=Easy music-production
Comment=
Icon=lmms.png
Exec=lmms
Terminal=false
StartupNotify=false
Categories=Application;Audio;Multimedia;
