[Desktop Entry]
Encoding=UTF-8
Exec=frozen-bubble
Icon=frozen-bubble
Type=Application
Terminal=false
MultipleArgs=false
Name=Frozen Bubble
GenericName=Arcade Puzzle Game
MimeType=text/html
StartupNotify=false
Categories=Application;Game;Puzzle;Arcade;
