#!/bin/sh
#
# /etc/rc.d/oidentd: start/stop oidentd daemon
#

# User settings here
DAEMON=oidentd
RUN_AS_USER=oidentd

RETVAL=0

case $1 in
start)
	echo -n "Starting $DAEMON..."
	su $RUN_AS_USER -c /usr/sbin/$DAEMON > /dev/null & RETVAL=$?
	if [ $RETVAL = 0 ]; then
		echo " done."
	fi
	;;
stop)
	echo -n "Shutting down $DAEMON..."
	killall -q /usr/sbin/$DAEMON
	RETVAL=$?
	echo " done."
	;;
restart)
	$0 stop
	sleep 5
	$0 start
	RETVAL=$?
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	exit 1
	;;
esac

exit $RETVAL

# End of file
