[Desktop Entry]
Name=Gcolor
Name[au]=Gcolour
Description="Colour Selector"
Comment="Colour Selector"
Exec=gcolor
Icon=
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;Multimedia;
