#!/bin/sh
#
# /etc/rc.d/uptimed: start/stop uptimed daemon
#

case $1 in
start)
	/usr/sbin/uptimed
	;;
stop)
	kill $( < /var/run/uptimed.pid )
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
