[Desktop Entry]
Encoding=UTF-8
Exec=vdrift
Icon=vdrift
Type=Application
Terminal=false
MultipleArgs=false
Name=vdrift
GenericName=Driving Simulation Game
MimeType=text/html
StartupNotify=false
Categories=Application;Game;Racing;
