#!/bin/sh
#
# /etc/rc.d/lighttpd: start/stop lighttpd daemon
#

case $1 in
start)
	/usr/sbin/lighttpd -f /etc/lighttpd.conf
	;;
stop)
	kill `cat /var/run/lighttpd.pid`
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
