#!/bin/sh
#
# /etc/rc.d/mongodb: start/stop mongodb daemon
#

MONGODB_CFG=/etc/mongodb.conf

case $1 in
start)
	/usr/bin/mongod -f $MONGODB_CFG &
	;;
stop)
	killall -q /usr/bin/mongod
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
